.rightPanel{
    display:flex;
    flex-direction: column;
}
.titleStatus{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.status,.originalLanguage,.budget,.revenue{
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
}